/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require iconfont
 */
@import 'bootstrap';
@import 'bootstrap-google';

table.calendar {
  td {
    font-size: 16pt;
    padding: .5em;
    vertical-align: middle;
    text-align: center;
  }
}

.ui-calendar {

  td {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background-color: #eee;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ccc;
    }

    &.valid {
      background-color: #ccc;

      &.beginning {
        color: #FF7300;
      }

      &.done {
        background-color: #468847;
        color: #fff;
        &:hover {
          background-color: #FF9742;
        }
      }

      &.undone {
        background-color: #ccc;
      }

    }

  }

}
