<div class="page-head">
    <h1>Creating new task</h1>
</div>

<form ng-submit="addTask()" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Role</label>
        <div class="controls">
            <select required ng-model="role" ng-options="role.display_name for role in roles">
                <option value="">--choose a role--</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input class="span6" required type="text" ng-model="taskName"  size="30" placeholder="task description" />
        </div>
    </div>

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="create" />
        <a href="#/" class="btn">cancel</a>
    </div>
</form>
