<div ng-controller="TaskListController">
    <div class="row">
        <h3>You have {{tasks.length}} tasks
            <a href="#tasks/new" class="btn btn-primary" ng-click="adding=true">create more</a>
        </h3>
    </div>

    <div ng-repeat="(role, tasks) in groupedTasks">
        <div class="row">
            <ul class="tasks nav nav-tabs nav-stacked span6 clearfix">
                <li class="role active">
                    <a href="#" class="info" prevent-default>
                        {{ tasks.length }} as {{role}}
                    </a>
                </li>
                <li class="task" id="task_{{task.id}}" ng-repeat="task in tasks">
                    <a href="#task/{{task.id}}">
                        {{task.name}}
                        <span class="point pull-right" ng-show="task.point>0">{{task.point}} points</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>
