<h1>{{task.name}}</h1>

<div class="ui-calendar" data-task-id="{{task.id}}" data-reviews-uri="{{task.reviewsUri}}">
    <table>
        <tr ng-repeat="i in weekDays">
            <td id="cell_{{j}}_{{i}}" ng-repeat="j in weeks"> </td>
        </tr>
    </table>
</div>

<div class="form-actions">
    <a href="#/" class="btn">back</a>
</div>

<!-- Modal -->
<div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{task.name}} on {{review.date}}</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
          <label class="checkbox"> <input type="checkbox" ng-model="review.done"/> done </label>
          <input type="text" ng-model="review.msg" placeholder="say something~" />
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary btn-save">Save</button>
  </div>
</div>
