<div ng-controller="TaskListController">
    <div ui-calendar></div>
    <span>you have {{tasks.length}} tasks</span>

    <ul class="tasks" ui-sortable="sortableOptions">
      <li class="task" id="task_{{task.id}}" ng-repeat="task in tasks">
          <a href="#task/{{task.id}}">{{task.name}}</span>
      </li>
    </ul>

    <form ng-submit="addTask()">
      <input type="text" ng-model="taskName"  size="30"
             placeholder="add new task here">
      <input class="btn-primary" type="submit" value="add">
    </form>

</div>
